.sidebar {
  width: 280px;
  background-color: #4a4a4a; /* Тёмно-серый, чуть светлее Navbar */
  padding: 20px;
  border-right: 1px solid #2d2d2d; /* Граница чуть темнее фона */
  overflow-y: auto;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);

  &__title {
    margin: 0 0 20px 0;
    color: #e0e0e0; /* Светло-серый текст для контраста */
    font-size: 20px;
    font-weight: 600;
  }
}